// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$color_1: #fff;
$color_2: #455571;
$color_3: red;
$color_4: #686868;
$color_5: #8e97a8;
$color_6: #fee;
$font-family_1: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$background-color_1: #392196;
$background-color_2: #614dab;
$background-color_3: #a163a2;
$background-color_4: #dadbe200;
$background-color_5: #fff;
$background-color_6: #f4f5f7;
$background-color_7: #dadbe2;
$background-color_8: #0079bf;
